.detail > img {
  width: 100%;
  filter: blur(25px);
}
.detail {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.detail-fade-bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 150px;
  background: linear-gradient(to bottom, transparent, #111);
}
.detail-content .wrapper {
  width: 70%;
}
.detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.detail-content-img div {
  display: none;
}
.detail-content img {
  width: 200px;
  border-radius: 5px;
}
.detail-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.detail .wrapper {
  display: flex;
  justify-content: space-around;
}

.detail .detail-content-text {
  width: 600px;
  margin: 0 40px;
}
.detail .detail-content-text p:first-child {
  font-size: 14px;
  font-weight: 700;
  color: #e50914;
  opacity: 0.7;
}
.detail .detail-content-text h2 {
  font-size: 30px;
  font-weight: 500;
}

.detail .detail-content-text p:nth-child(2) {
  letter-spacing: 1px;
  font-size: 20px;
  margin-top: 20px;
}
.detail-button {
  margin-top: 15px !important;
}

.detail-trailer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.detail-trailer iframe {
  width: 90vw;
  height: 700px;
  z-index: 10000;
}
.detail-overplay {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.detail-content-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-content-rate p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
.detail-content-rate > div > div:first-child {
  width: 120px !important;
  height: 120px !important;
  color: #7ed321 !important;
}
.detail-content-rate > div > div:nth-child(2) > div {
  font-size: 25px !important;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .detail-content {
    /* height: 300px !important; */
  }
  .wrapper {
    width: 100% !important;
    padding: 0 20px;
  }
}

@media screen and (max-width: 900px) {
  .detail {
    height: fit-content !important;
    overflow: unset;
  }
  .detail-fade-bottom {
    display: none !important;
  }
  .wrapper {
    display: block !important;
  }
  .wrapper .detail-content-rate {
    display: none !important;
  }
  .wrapper .detail-content-img {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
  }
  .wrapper .detail-content-img div p {
    margin-top: 10px;
  }
  .wrapper .detail-content-img div {
    display: flex !important;
    flex-direction: column;
  }
  .wrapper .detail-content-img > div > div > div:first-child {
    width: 120px !important;
    height: 120px !important;
    color: #7ed321 !important;
  }
  .wrapper .detail-content-img > div > div > div:last-child > div {
    font-size: 30px !important;
    color: #fff !important;
  }
  .wrapper .detail-content-img p {
    text-align: center;
  }
  .wrapper .detail-content-text {
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    letter-spacing: 0;
  }
  .wrapper .detail-content-text p {
    font-size: 17px !important;
  }
}
